.register-form-wrapper {
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  background: linear-gradient(
      130.07deg, #eee 6.57%, hsla(0, 0%, 100%, .15) 95.76%);
}

.register-form {
  margin-top: toRem(8);
}

.register-form h2{
  font-weight: normal;
  font-size: toRem(16);
  text-align: center;
  color: #131416;
  margin-bottom: 1rem;
}
.user-agreement {
  font-size: toRem(12);
  margin-bottom: toRem(16);
}
